*{
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    background: linear-gradient(to bottom right, #40007c, #0a0013);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(228, 228, 228);
}

body{
    height: 100%;
}

h3 {
    margin: 20px;
}

ul {
    list-style: none;
    margin-left: 30px;
}
li {
    padding: 5px;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas: 
    "header header"
    "binary radio"
    "checkbox pull-down";
    grid-gap: 10px;
}

.header {
    grid-area: header;

    text-align: center;
    padding: 10px;
}

.binary {
    grid-area: binary;
}
.binary ul li:hover {
    cursor: pointer;
}

.radio {
    grid-area: radio;
}

.checkbox {
    grid-area: checkbox;
}

.pull-down {
    grid-area: pull-down;
}
.pull-down select {
    color: #222222;
    margin-left: 30px;
}

.grid div {
    /* border: solid 1px #27004b;  */
    width: 50%;
    justify-self: center;
}
